@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background: #002eb9; 
    color: #fff;
    padding: 10px 0;
    position: relative; 
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 390px;
    font-style: normal;
    font-variation-settings:"wdth" 300;
}

header .logo img {
    height: 90px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-left: auto;
}

header nav ul li a {
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #FFD700; 
}

.menu-toggle {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}


.hero {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient( #3c61d1, #b94851); 
    color: #fff;
    font-family: "Parkinsans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size:30px;
}

/* .hero .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFD700; 
    color: #191970; 
    border-radius: 5px;
    font-weight: bold;
} */

.hero .button:hover {
    background-color: #FF0000; 
}

/* Cards */
.info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    background-color: #E6E6FA; 
}

.card {
    flex: 1 1 calc(33.333% - 20px);
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border: 1px solid #DCDCDC; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 60%;
    border-radius: 15px;
}



.card h3 {
    margin: 15px 0;
    font-size: 1.5em;
    color: #333;
}

.card p {
    color: #666;
    margin-bottom: 20px;
}

.card .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4169E1;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.card .button:hover {
    background-color: #FF0000; 
}




footer {
    text-align: center;
    padding: 20px;
    background: #191970; 
    color: #fff;
}


@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction:column;
        background: #2900e2;
        position: absolute;
        align-items: center;
        top: 90px; 
        left: 0;
        width: 100%;
        padding: 10px 0;
    }

    header nav ul.show {
        display: flex;
    }

    .menu-toggle {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }
}
